body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: deepskyblue;
}

nav {
  display: flex;
  background-color: lightgreen;
  justify-content: space-around;
  padding: 0.75rem;
}

nav a {
  color: brown;
  font-size: 2rem;
  padding: 0.5rem;
}

nav a.selected {
  border: solid 2px brown;
}
h1, h2, h3, h4, ul {
text-align: center;
}

ul {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 1rem;
}
Link {
  text-align: center;
}